///////////////////////////////////////////////////////
table.stats {
	width: 100%;
	border-collapse: collapse;
}
/* Zebra striping */
.cabecalho {
	background: none repeat scroll 0 0 #B5B5B5;
	border-bottom: 1px solid #000000;
	padding: 2px;
	padding-left: 2px;
}

tr:nth-of-type(odd) {
	background: #eee;
	padding-right: 2px;
	padding-left: 2px;
}

th.stats {
	background: #333;
	color: white;
	font-weight: bold;
	padding-right: 2px;
	padding-left: 2px;
}

td.stats,th.stats {
	padding: 6px;
	border: 1px solid #ccc;
	text-align: left;
	padding-right: 2px;
	padding-left: 2px;
}

///////////////////////////////////////////////////////
.t50 {
	width: 50px;
}

.t100 {
	width: 100px;
}

.t150 {
	width: 150px;
}

.t200 {
	width: 200px;
}

.t250 {
	width: 250px;
}

.t300 {
	width: 300px;
}

.t350 {
	width: 350px;
}

.t400 {
	width: 400px;
}

.t650 {
	width: 650px;
}